/* Reset default margins and paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

:root{
    --primary-color:black;
    --secondary-color:#E6E6E6;
    --neon-orange: #ffb347;
    --light-neon-orange: #ffc175;
    --dark-neon-orange: #e69934;
}

/* Color theme */
.darktheme{
    --primary-color:#E6E6E6;
    --secondary-color:black;
    --neon-orange: #ffb347;
    --conditional-color: rgba(255, 255, 255, 0.1);
    --light-neon-orange: #ffc175;
    --dark-neon-orange: #e69934;
}
.neon-orange {
  color: var(--neon-orange);
}

html, body {
    margin: 0;
    padding: 0%;
    background-color: var(--secondary-color); /* Set the entire page background to black */
    color: var(--primary-color);
    overflow-x: hidden; /* Prevent horizontal scrolling */
    height: 100%;
}

.main-container{
    max-width: 1200px; /* Set your desired maximum width */
    margin: 0 auto; /* Center the container */
    padding: 40px; /* Optional: Add some padding inside the container */
}

/* Line */
hr {
    border: none; /* Remove default border */
    height: 1px; /* Set the height of the line */
    background-color: var(--primary-color); /* Set the desired color */
    margin: 15px 0; 
}


/* Navbar */
/* .navbar {
    position: fixed;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    backdrop-filter: blur(100%);
    transition: transform 0.3s ease;
    border-bottom: 1px solid #fff1; /* subtle border as in screenshot */
  /* } */ 
  .navbar {
    position: fixed;
    background-color: transparent; /* or transparent */
    color: var(--primary-color);
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    /* backdrop-filter: blur(3px); */
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    transition: transform 0.3s ease;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }

  .nav-content {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    width: 100%;
    padding: 1rem 3rem;
    box-sizing: border-box;
  }
  
  .nav-center-container {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
  }
  
  .nav-links {
    display: flex;
    gap: 28px;
    background-color: var(--conditional-color);
    border-radius: 10px;
    padding: 8px 20px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 6px rgba(0,0,0,0.15);
    align-items: center;
    list-style: none;
  }
  
  .nav-links li {
    display: flex;
    align-items: center;
  }
  
  .nav-links li a {
    color: var(--primary-color);
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 600;
    padding: 2px 5px;
    transition: color 0.2s, text-shadow 0.2s;
  }
  
  .nav-links li a.active {
    color: var(--neon-orange);
    text-shadow: 0 0 15px var(--neon-orange);
  }
  
  .nav-links li a:hover {
    color: var(--neon-orange);
    text-shadow: 0 0 10px var(--neon-orange);
  }
  
  .social-icons {
    display: flex;
    max-width: 120px;
    gap: 10px;
    padding: 2px;
    background-color: var(--conditional-color);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s, transform 0.3s;
  }

  .signature-text {
    font-family: 'Great Vibes', cursive;
    min-width: 116px;
    font-size: 1.8rem;
    color: var(--neon-orange);
    text-shadow: 0 0 5px var(--neon-orange), 0 0 8px var(--light-neon-orange);
    white-space: nowrap;
    user-select: none;
    padding: 4px 10px;
    cursor: default;
    text-decoration: none;
    text-align: center;
  }
  /* .signature-text:hover {
    transform: scale(1.05);
    transition: transform 0.2s ease-in-out;
  } */

  
  .social-icons:hover {
    transform: scale(1.01);
  }
  
  .social-icons-image {
    position: relative;
    display: inline-block;
    margin: 2px;
    cursor: pointer;
  }
  
  .social-icons-image::after {
    content: attr(data-name);
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--conditional-color);
    color: var(--primary-color);
    padding: 5px 8px;
    border-radius: 8px;
    font-size: 0.6rem;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    white-space: nowrap;
    pointer-events: none;
  }
  
  .social-icons-image:hover::after {
    visibility: visible;
    opacity: 1;
    box-shadow: 0 0 10px var(--neon-orange), 0 0 15px var(--neon-orange);
  }
  
  .icon {
    width: 26px;
    height: 26px;
    cursor: pointer;
    transition: transform 0.2s;
  }
  
  .icon:hover {
    transform: scale(1.1);
  }

  /* Always visually hide the checkbox */
  #sidebar-active {
    position: absolute;
    left: -9999px;
    opacity: 0;
    pointer-events: none;
  }
  
  /* Hide hamburger and close icons by default (desktop) */
  .open-sidebar-button,
  .close-sidebar-button {
    display: none;
  }
  
  @media (max-width: 1130px) {
    .nav-links li a{
        font-size: 0.7rem;
    }
  }
  /* Show hamburger and close icons only on small screens */
  @media (max-width: 1000px) {
    .open-sidebar-button,
    .close-sidebar-button {
      display: block;
      cursor: pointer;
    }
    .nav-links li a{
        font-size: 1rem;
    }
  }
  
  /* Responsive Styles */
  @media (max-width: 1000px) {
    .nav-content {
      flex-direction: row;
      justify-content: space-between;
      gap: 0;
      padding: 1rem;
    }
  
    .nav-center-container {
      justify-content: flex-start;
    }
  
    .nav-links {
      flex-direction: column;
      align-items: flex-start;
      position: fixed;
      top: 0;
      left: -90%;
      z-index: 10;
      width: 70%;
      height: 100svh;
      background-color: var(--secondary-color);
      box-shadow: 10px 0 15px rgba(255, 255, 255, 0.3);
      transition: 0.75s ease-out;
      padding: 40px 20px;
      border-radius: 0 16px 16px 0;
    }
  
    .open-sidebar-button, .close-sidebar-button {
      display: block;
    }
  
    #sidebar-active:checked ~ .nav-center-container .nav-links {
      left: 0;
    }
    #sidebar-active:checked ~ #overlay {
      height: 100%;
      width: 100%;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 9;
    }
  }

/* Content section styling */
#main-content {
    min-height: 100vh;
    padding-top: 30px; /* Offset content to avoid overlap with navbar */
    transition: filter 0.3s ease; /* Smooth blur effect */
    cursor: default;
}

/* Home Section */
.home {
    background: var(--secondary-color);
    color: var(--primary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    scroll-margin-top: 100px;
}

    .home h2 {
        font-size: 3rem;
    }

    .home p {
        margin-top: 10px;
        font-size: 1rem;
    }

    .btn {
        margin-top: 20px;
        padding: 10px 20px;
        background-color: var(--secondary-color);
        color: var(--primary-color);
        border: none;
        border-radius: 5px;
        cursor: pointer;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    }

    /* Waving Hand  */
    @keyframes waving-hand{
        0%{
            transform: rotate(0deg);
        }
        10%{
            transform: rotate(14deg);
        }
        20%{
            transform: rotate(-8deg);
        }
        30%{
            transform: rotate(14deg);
        }
        40%{
            transform: rotate(-4deg);
        }
        50%{
            transform: rotate(10deg);
        }
        60%{
            transform: rotate(0deg);
        }
        100%{
            transform: rotate(0deg);
        }
    }
    .emoji{
        animation: waving-hand 2.5s infinite;
        transform-origin: 70% 70%;
        display: inline-block;
    }

    /* Image Container with Neon Effect */
    .image-container {
        position: relative;
        display: inline-block;
        padding: 3px; /* Spacing between the image and the glow */
        border-radius: 50%; /* Make container circular */
        background-color: #0d0d0d; /* Dark background to enhance neon effect */
        box-shadow: 0 0 5px var(--neon-orange), 0 0 10px var(--neon-orange); /* Neon glow effect */
        transition: transform 0.3s, box-shadow 0.3s; /* Smooth transitions */
    }

    /* Image Styling - Responsive */
    .personal-pic {
        cursor: auto;
        width: 100%;  /* Width as a percentage of its container */
        max-width: 425px; /* Limit maximum width */
        height: auto; /* Maintain aspect ratio */
        border-radius: 5%; /* Consistent rounded borders */
        object-fit: cover; /* Ensure the image fits nicely */
    }

    /* Hover Effect */
    .image-container:hover {
        cursor: auto;
        transform: scale(1.05); /* Slight zoom-in effect */
        box-shadow: 0 0 10px var(--neon-orange), 0 0 25px var(--neon-orange); /* Neon glow effect */
    }

    .btn-container {
        display: flex;
        gap: 15px; /* Space between buttons */
        margin-top: 20px;
        justify-content: center; /* Center the buttons horizontally */
    }
    
    .btn {
        padding: 10px 20px;
        background-color: rgba(255, 255, 255, 0.3);
        color: var(--primary-color);
        border: none;
        border-radius: 10px;
        cursor: pointer;
        text-decoration: none;
        transition: background-color 0.3s;
    }
    
    .btn:hover {
        background-color: var(--neon-orange); /* Slightly darker on hover (neon orange effect) */
    }
    


/* About Section */

/* Styling for the rounded corner info box */
.about {
background-color: rgba(255, 255, 255, 0.1); /* Light translucent background */
border-radius: 15px; /* Rounded corners */
padding: 20px; /* Space inside the box */
border: 1px solid rgba(255, 255, 255, 0.3); /* Optional border */
box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
margin-top: 10px; /* Space between heading and box */
line-height: 1.6; /* Improve readability */
max-width: 700px; /* Optional: limit width */
margin-left: auto;
margin-right: auto;
color: var(--primary-color); /* Adjust text color to match theme */
transition: transform 0.3s, box-shadow 0.3s;
scroll-margin-top: 100px;
}

    .about:hover{
        box-shadow: 0 0 10px var(--neon-orange), 0 0 25px var(--neon-orange); /* Neon glow effect */
        cursor: default;
        transform: scale(1.03);
    }

    @media (max-width: 768px) {
       .about p{
            font-size: 0.8em; /* Adjust the font size as needed */
        }
    }
    
    .about a{
        color: var(--neon-orange);
        /* text-shadow: 0 0 5px var(--neon-orange); */
        text-decoration: none;
        font-style: italic;
        font-weight: bold;
    }

    .about p{
        text-align: justify;
    }

/* Technical Skills Section */
.technical-skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    scroll-margin-top: 80px;
}
    /* Prevent line breaks within the span */
    .heading-content {
        white-space: nowrap; 
        /* text-shadow: 0 0 15px var(--neon-orange); */
    }

    /* Heading styling */
    .technical-skills h2 {
        font-size: 2rem;
        margin: 0;
    }

    /* Skills container */
    .skills-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
        margin-top: 1.5rem;
    }

    /* Skill boxes */
    .skill-box {
        background-color: rgba(255, 255, 255, 0.2);
        color: var(--secondary-color);
        padding: 1rem;
        border-radius: 15px;
        width: 250px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
        border: 1px solid rgba(255, 255, 255, 0.3);
        text-align: center;
        transition: transform 0.3s, box-shadow 0.3s;
        cursor: pointer;
    }

    .skill-box:hover {
        transform: scale(1.05);
        /* box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); */
        box-shadow: 0 0 5px var(--neon-orange), 0 0 10px var(--neon-orange); /* Neon glow effect */
    }

    .skill-box:hover h3{
       color: var(--neon-orange);
    }

    .skill-box h3 {
        margin-bottom: 1rem;
        font-size: 1.2rem;
        height: 50px;
        color: var(--primary-color);
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        line-height: 1.2;
    }

    /* Image container to handle tooltips */
    .img-container {
        position: relative;
        display: inline-block;
        margin: 2px;/* ----- */
        cursor: pointer;
    }

    /* Tooltip styling */
    .img-container::after {
        content: attr(data-name); /* Get content from data-name attribute */
        /* content: "shashank"; */
        position: absolute;
        bottom: -10px;
        left: 50%;
        transform: translateX(-50%);
        background-color: rgba(0, 0, 0, 0.3);
        color: var(--primary-color);
        padding: 5px 8px;
        border-radius: 8px;
        font-size: 0.6rem;
        visibility: hidden;
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
        white-space: nowrap;
        pointer-events: none; /* Ensure tooltip doesn't block interactions */
    }

    /* Show tooltip on hover */
    .img-container:hover::after {
        visibility: visible;
        opacity: 1;
    }

    /* Adjust image spacing */
    .img-container img {
        height: 50px;
        width: 50px;
        padding: 5px;
    }

/* Timeline Section Styling */
.timeline {
    padding: 2rem;
    scroll-margin-top: 100px;
    max-width: 66.66%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: var(--primary-color);
    position: relative;
    cursor: default;
}

    /* Prevent line breaks within the span */
    .heading-content {
        white-space: nowrap; 
        /* text-shadow: 0 0 15px var(--neon-orange); */
    }

    .timeline h2{
        font-size: 2rem;
        margin-bottom: 30px;
    }

    /* Vertical timeline container */
    .timeline-container {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }

    /* Each timeline item */
    .timeline-item {
        position: relative;
        display: flex;
        align-items: center;
        margin: 0 0;
        padding-top: 1rem;
    }

    /* Connecting vertical line between dots */
    .timeline-item::before {
        content: "";
        position: absolute;
        left: 50%; /* Center the line */
        width: 3px;
        background-color: gray;
        height: 100%; /* Full height of the item */
        transform: translateX(-50%);
        z-index: -1; /* Send the line behind the dots */
    }

    /* Styling for the first and last dot's line */
    .timeline-item:first-child::before {
        top: 50%; /* Start the first line from the middle of the first dot */
    }
    .timeline-item:last-child::before {
        bottom: 50%; /* End the last line at the middle of the last dot */
    }

    /* Styling for the left-side date */
    .timeline-date, .timeline-date-current {
        text-align: center;
        font-weight: bold;
        color: var(--primary-color);
        position: absolute;
        right: 0; /* Align to the left of the dot */
        top: 50%; /* Vertically align */
        margin-right: 60%;
        transform: translateY(-50%);
        background-color: rgba(255, 255, 255, 0.2);
        padding: 1rem;
        border-radius: 15px;
        width: 250px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
        border: 1px solid rgba(255, 255, 255, 0.3);
        transition: transform 0.3s, box-shadow 0.3s;
    }

    /* Current job dot and color */
    .timeline-date-current {
        color: var(--neon-orange);
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.3);
        box-shadow: 0 0 5px var(--neon-orange), 0 0 10px var(--neon-orange);
        padding: 10px 20px;
    }

    /* Styling for the dots */
    .timeline-dot, .timeline-dot-current {
        width: 15px;
        height: 15px;
        background-color: var(--primary-color);
        border-radius: 50%;
        position: absolute;
        left: 50%; /* Center horizontally */
        transform: translateX(-50%);
        z-index: 1; /* Ensure the dots are above the lines */
    }

    /* Current job dot and color */
    .timeline-dot-current {
        background-color: var(--neon-orange);
        box-shadow: 0 0 10px var(--neon-orange), 0 0 15px var(--neon-orange), 0 0 20px var(--neon-orange);
    }

    /* Content on the right side */
    .timeline-content {
        flex: 1;
        padding: 10px 20px;
        text-align: left;
        margin-left: 60%; /* Space from the dot */
        transition: transform 0.3s ease-in-out;
        background-color: rgba(255, 255, 255, 0.1);
        padding: 1rem;
        border-radius: 15px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
        border: 1px solid rgba(255, 255, 255, 0.3);
        transition: transform 0.3s, box-shadow 0.3s;
    }

    /* Timeline link styling */
    .timeline-content a , 
    .timeline-content p{
        color: gray; /* Set color to primary */
        text-decoration: none; /* Remove underline */
    }

    .timeline-content p{
        text-align: right;
        font-size: 0.8rem;
    }
    .timeline-content a:hover ,
    .timeline-content p:hover {
        color: var(--neon-orange);
        cursor: pointer;
    }
    .timeline-content:hover{
        transform: scale(1.05);
        box-shadow: 0 0 5px var(--neon-orange), 0 0 10px var(--neon-orange); /* Neon glow effect */
    }
    .timeline-content:hover h3{
        color: var(--neon-orange);
    }

    .details {
        max-height: 0;
        overflow: hidden;
        opacity: 0;
        transition: max-height 0.4s ease, opacity 0.4s ease;
    }

    .details ul li b{
        color: var(--neon-orange);
    }

    @keyframes floatUpDown {
        0%, 100% {
          transform: translateY(0);
        }
        50% {
          transform: translateY(-5px);
        }
      }
      
      p.details-popup {
        display: flex;
        justify-content: flex-end; 
        align-items: center; 
        animation: floatUpDown 1.5s ease-in-out infinite;
        color: var(--neon-orange);
        font-weight: bold;
      }
      
    .timeline-item.expanded .details {
        max-height: 500px; 
        opacity: 1;
    }

    /* List Styling in Timeline Details */
    .timeline-content .details ul{
    list-style: none;
    padding-left: 0.25rem;
    margin-top: 0.5rem;
    }

    .timeline-content .details li{
    position: relative;
    margin-bottom: 0.75rem;
    padding-left: 1.5rem;
    line-height: 1.6;
    font-size: 0.95rem;
    color: gray; /* Will adapt to dark/light themes */
    }

    /* Custom bullet point */
    .timeline-content .details li::before{
    content: "→";
    position: absolute;
    left: 0;
    color: var(--primary-color);
    font-weight: bold;
    font-size: 1rem;
    top: 0;
    line-height: 1.5;
    }


    @media (max-width: 768px) {
        .timeline-content h3,
        .timeline-content-current h3,
        .timeline-date,
        .timeline-date-current {
            font-size: 0.8em; /* Adjust the font size as needed */
        }
        .timeline-content a,
        .timeline-content-current a{
            font-size: 0.5em;
        }
        .timeline{
            max-width: 80%;
        }
    }
    
    @media(max-width: 400px){
        .timeline{
            max-width: 95%;
        }
    }

/* Recommendations Section Styling */
.recommendations-section {
    padding: 2rem;
    background: var(--secondary-color); /* Dark background */
    color: var(--primary-color);
    text-align: center;
    }
      
      .recommendations-section h2 {
        font-size: 2.2rem;
        margin-bottom: 30px;
        color: var(--primary-color);
      }
      
      .testimonial-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
      }
      
      .testimonial-card {
        background-color: rgba(255, 255, 255, 0.1);
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
        border: 1px solid rgba(255, 255, 255, 0.3);
        padding: 20px;
        border-radius: 10px;
        max-width: 400px;
        text-align: left;
        transition: transform 0.3s, box-shadow 0.3s;
        cursor: default;
        height: max-content;
      }

      .testimonial-card:hover{
        transform: scale(1.05);
        box-shadow: 0 0 5px var(--neon-orange), 0 0 10px var(--neon-orange); /* Neon glow effect */
      }
      
      .testimonial-card p {
        font-size: 15px;
        font-style: italic;
        color: gray;
      }

      .testimonial-card:hover p{
        color: var(--dark-neon-orange);
      }
      
      .testimonial-author {
        display: flex;
        align-items: center;
        margin-top: 15px;
      }
      
      .rec-img {
        border-radius: 50%;
        width: 60px;
        height: 60px;
        margin-right: 15px;
        background-color: #0d0d0d; /* Dark background to enhance neon effect */
        box-shadow: 0 0 5px var(--neon-orange), 0 0 10px var(--neon-orange); /* Neon glow effect */
      }

      .rec-info{
        width: 16px;
        height: 16px;
        vertical-align: top;
      }

      /* LinkedIn icon style */
        .linkedin-icon-rec {
            width: 18px;
            height: 18px;
            vertical-align: middle;
            transition: transform 0.2s ease, filter 0.2s ease;
        }
        
        .linkedin-icon-link-rec:hover .linkedin-icon-rec {
            transform: scale(1.2);
            filter: drop-shadow(0 0 4px var(--neon-orange));
        }
      .testimonial-author h4 {
        margin: 0;
        color: var(--primary-color);
      }
      
      .testimonial-author p {
        margin: 0;
        font-size: 0.9rem;
        color: var(--dark-neon-orange);
      } 


/* Education Section Styling */
.education {
    padding: 2rem;
    scroll-margin-top: 100px;
    max-width: 66.66%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: var(--primary-color);
    position: relative;
    cursor: default;
}

    .education h2 {
        font-size: 2rem;
        margin-bottom: 30px;
    }

    .education-item {
        display: flex;
        align-items: center;
        margin-bottom: 1rem; /* Spacing between items */
        justify-content: center;
    }

    .school-logo {
        margin-right: 2em;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        border: 3px solid var(--neon-orange);
    }

    .school-info {
        display: flex;
        flex-direction: column;
        text-align: left;
        width: 100%;
    }

    .row {
        display: flex;
        width: 100%;
        justify-content: space-between; /* Space between elements in each row */
    }

    .school-name, .school-major {
        flex: 1;
        font-weight: bold;
        color: var(--primary-color);
    }

    .school-major {
        font-style: italic;
    }

    .school-major a {
        text-decoration: none;
        color: var(--neon-orange);
        /* text-shadow: 0 0 5px var(--neon-orange); */
    }

    .graduation-year {
        color: var(--primary-color);
        display: flex;
        align-items: center;
    }

    @media(max-width: 768px){
        .school-logo{
            width: 20%;
            height: auto;
        }
    }

    @media(max-width: 585px){
        .school-name p{
            font-size: 0.9em; 
        }
        .school-major a{
            font-size: 0.9em; 
        }
        .graduation-year p{
            font-size: 0.9em; 
        }
        .graduation-year{
            font-size: 0.9em; 
        }
    }

    @media(max-width: 430px){
        .school-logo{
            margin-right: 1rem;
        }
    }

    @media(max-width: 500px){
        .education{
            max-width: 100%;
        }
    }

/* Project Section */
.project {
    /* padding: 60px 20px;
    text-align: center;
    color: var(--primary-color);
    background-color: var(--secondary-color); */

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6rem;
    min-height: 100vh;
    transition: filter 0.3s ease; /* Smooth blur effect */
}
    .project h2{
        font-size: 2rem;
        margin-bottom: 30px;
    }

    .gallery {
        display: flex;
        justify-content: center;
        gap: 20px;
        flex-wrap: wrap;
    }

    .card {
        background-color: var(--conditional-color);
        color: var(--secondary-color);
        padding: 2.5rem;
        border-radius: 15px;
        max-width: 400px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
        border: 1px solid rgba(255, 255, 255, 0.3);
        text-align: center;
        transition: transform 0.3s, box-shadow 0.3s;
        cursor: default;
        align-items: center;
        display: flex;
        flex-direction: column;
        max-height: fit-content;
    }

    .card hr {
        border: none;
        border-top: 1px solid rgba(255, 255, 255, 0.3); /* Adjust color for visibility */
        width: 100%; /* Full width of the card */
        opacity: 0.8; /* Slight transparency */
        margin: 0.5rem 0.5; /* Adjust spacing above and below */
    }

    @media(max-width: 750px){
        .project{
            padding-left: 2%;
            padding-right: 2%;
        }
    }

    @media(max-width: 515px){
        .project-links{
            max-width: 100%;
            width: 200px; /* Set a fixed width */
            margin: 0 0; /* Center align the element */
        }
        .project-icon-image{
            padding: 0em;
        }
        .card{
            padding-left: 5%;
            padding-right: 5%;
        }
        .card p{
            font-size: 0.6rem;
        }
    }

    .card:hover {
        transform: scale(1.05);
        box-shadow: 0 0 5px var(--neon-orange), 0 0 10px var(--neon-orange); /* Neon glow effect */
    }

    .card:hover h3{
        color: var(--neon-orange);
        transform: scale(1.05);
     }
 
    .card h3 {
        margin-bottom: 1rem;
        font-size: 1.2rem;
        height: 50px;
        color: var(--primary-color);
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        line-height: 1.2;
    }

    .card p{
        color: var(--primary-color);
        font-size: 0.8em;
        text-align: justify;
        transition: transform 0.3s, box-shadow 0.3s;
    }

    .card img {
        width: 100%;
        height: auto;
        border-radius: 10px;
        transition: transform 0.3s, box-shadow 0.3s;
    }

    .project-links {
        display: flex;
        justify-content: center; /* Center align the links horizontally */
        align-items: center; /* Center align the links vertically */
        max-width: 50%;
        max-height: 5%;
        background-color: var(--conditional-color);
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.3);
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
        transition: background-color 0.3s, transform 0.3s;
    }
    
    .project-icon-image{
        justify-content: center;
        align-items: center;
        cursor: pointer;
        padding: 1em;
        transition: background-color 0.3s, transform 0.3s;
        position: relative;
        display: inline-block;
    }

    .project-icon-image:after {
        content: attr(data-name); /* Get content from data-name attribute */
        position: absolute;
        bottom: -10px;
        left: 50%;
        transform: translateX(-50%);
        background-color: rgba(0, 0, 0, 0.2);
        color: var(--primary-color);
        padding: 5px 8px;
        border-radius: 8px;
        font-size: 0.6rem;
        visibility: hidden;
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
        white-space: nowrap;
        pointer-events: none; /* Ensure tooltip doesn't block interactions */
    }
    
     /* Show tooltip on hover */
     .project-icon-image:hover::after {
        visibility: visible;
        opacity: 1;
        box-shadow: 0 0 10px var(--neon-orange), 0 0 15px var(--neon-orange); /* Neon glow effect */
    }   

    .project-icon-image img{
        width: auto;
        height: auto;
    }

    .project-icon {
        cursor: pointer;
        min-width: 20px;
        min-height: 20px;
        max-width: 24px;
        max-height: 24px;
    }

    .project-icon:hover{
    transform: scale(1.1); /* Slightly scale up the icon on hover */   
    }
    
    .tech-stack {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 12px;
        margin-bottom: 1rem;
        margin-top: 0.5rem;
    }
    
    .tech-item {
        display: flex;
        align-items: center;
        gap: 6px;
        padding: 5px 8px;
        border-radius: 8px;
        background-color: rgba(255, 255, 255, 0.1);
        box-shadow: 0 2px 4px rgba(0,0,0,0.2);
        transition: transform 0.3s;
    }
    
    .tech-item img {
        width: 20px;
        height: 20px;
    }
    
    .tech-item span {
        font-size: 0.75rem;
        color: var(--primary-color);
    }
    
    .tech-item:hover {
        transform: scale(1.05);
        box-shadow: 0 0 10px var(--neon-orange);
    }

    .filter-buttons {
        display: flex;
        gap: 12px;
        margin-bottom: 2rem;
        flex-wrap: wrap;
        justify-content: center;

      }
      
      .filter-btn {
        padding: 10px 20px;
        background-color: rgba(255, 255, 255, 0.3);
        color: var(--primary-color);
        border: none;
        border-radius: 10px;
        cursor: pointer;
        text-decoration: none;
        transition: background-color 0.3s;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
        font-size: 0.9rem;
        font-style: italic;
      }
      
      .filter-btn:hover,
      .filter-btn.active {
        background-color: var(--neon-orange);
        color: black;
        transform: scale(1.05);
      }
    

/* Footer */
.footer {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    text-align: center;
    padding: 10px;
    font-size: 1rem;
}
    @media (max-width: 768px) {
        .footer{
        font-size: 0.8rem;
        }   
    }
    @media (max-width: 375px) {
        .footer{
            font-size: 0.6rem;
        }  
    }